<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMSProjectPattonZ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePageServlet</display-name>
    <servlet-name>EmployeePageServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePageServlet</servlet-name>
    <url-pattern>/EmployeePage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TRMSFormServlet</display-name>
    <servlet-name>TRMSFormServlet</servlet-name>
    <servlet-class>com.revature.servlet.TRMSFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TRMSFormServlet</servlet-name>
    <url-pattern>/TRMSForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ULGradeServlet</display-name>
    <servlet-name>ULGradeServlet</servlet-name>
    <servlet-class>com.revature.servlet.ULGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ULGradeServlet</servlet-name>
    <url-pattern>/ULGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocServlet</display-name>
    <servlet-name>AddDocServlet</servlet-name>
    <servlet-class>com.revature.servlet.AddDocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocServlet</servlet-name>
    <url-pattern>/AddDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRequestServlet</display-name>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.DeleteRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRequestServlet</servlet-name>
    <url-pattern>/DeleteRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorLoginServlet</display-name>
    <servlet-name>SupervisorLoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.SupervisorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorLoginServlet</servlet-name>
    <url-pattern>/SupervisorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllRequestServlet</display-name>
    <servlet-name>GetAllRequestServlet</servlet-name>
    <servlet-class>com.revature.servlet.GetAllRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllRequestServlet</servlet-name>
    <url-pattern>/GetAllRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupAppDenServlet</display-name>
    <servlet-name>SupAppDenServlet</servlet-name>
    <servlet-class>com.revature.servlet.SupAppDenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupAppDenServlet</servlet-name>
    <url-pattern>/SupAppDen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepheadLoginServlet</display-name>
    <servlet-name>DepheadLoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.DepheadLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepheadLoginServlet</servlet-name>
    <url-pattern>/DepheadLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DHAppDenServlet</display-name>
    <servlet-name>DHAppDenServlet</servlet-name>
    <servlet-class>com.revature.servlet.DHAppDenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DHAppDenServlet</servlet-name>
    <url-pattern>/DHAppDen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DHRequestInfoServlet</display-name>
    <servlet-name>DHRequestInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.DHRequestInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DHRequestInfoServlet</servlet-name>
    <url-pattern>/DHRequestInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BenCoLoginServlet</display-name>
    <servlet-name>BenCoLoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.BenCoLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BenCoLoginServlet</servlet-name>
    <url-pattern>/BenCoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BCAppDenServlet</display-name>
    <servlet-name>BCAppDenServlet</servlet-name>
    <servlet-class>com.revature.servlet.BCAppDenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BCAppDenServlet</servlet-name>
    <url-pattern>/BCAppDen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFundingServlet</display-name>
    <servlet-name>AddFundingServlet</servlet-name>
    <servlet-class>com.revature.servlet.AddFundingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFundingServlet</servlet-name>
    <url-pattern>/AddFunding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewInfoServlet</display-name>
    <servlet-name>ViewInfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.ViewInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewInfoServlet</servlet-name>
    <url-pattern>/ViewInfo</url-pattern>
  </servlet-mapping>
</web-app>